*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: Helvetica, sans-serif;
   display: flex;
   align-items: center;
   min-height: 100vh;
}

.section.faqs {
   max-width: 1300px;
   margin-inline: auto;
   padding-block: 2rem;
   padding-inline: 1rem;
}

.faqs * {
   margin: 0;
   padding: 0;
}

.faqs__titulo {
   margin-bottom: 2rem;
   font-size: 2.25rem;
   font-weight: 800;
   line-height: 2.5rem;
   letter-spacing: -0.025em;
   color: hsl(0, 0%, 20%)
}

.faqs__grid {
   padding-top: 2rem;
   border-top: 1px solid hsl(0, 0%, 80%);
   text-align: left;
   display: grid;
}

.faqs__article {
   margin-bottom: 2.5rem;
}

.faqs__pregunta {
   margin-bottom: 1rem;
   font-size: 1.125rem;
   font-weight: 600;
   line-height: 1.75rem;
   color: hsl(0, 0%, 20%);
   display: flex;
   align-items: center;
}

.faqs__svg {
   width: 1.25rem;
   height: 1.25rem;
   margin-right: 0.5rem;
   color: hsl(0, 0%, 50%);
   fill: currentColor;
   flex-shrink: 0;
}

.faqs__respuesta {
   line-height: 1.5;
   color: hsl(0, 0%, 40%)
}

/*todo MEDIDAS 

0.5: 0.125rem   5: 1.25rem
  1: 0.25rem    6: 1.5rem
1.5: 0.375rem   7: 1.75rem
  2: 0.5rem     8: 2rem
2.5: 0.625rem   9: 2.25rem
  3: 0.75rem   10: 2.5rem
3.5: 0.875rem  11: 2.75rem
  4: 1rem      12: 3rem
  
 14: 3.5rem    16: 4rem
 20: 5rem      24: 6rem
 
*/

@media (min-width: 640px) {

   /** sm: */
   .section.faqs {
      padding-block: 4rem;
   }
}

@media (min-width: 768px) {

   /** md: */
   .faqs__grid {
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
   }
}

@media (min-width: 1024px) {

   /** lg: */
   .section.faqs {
      padding-inline: 1.5rem;
   }
}

/*todo Media query

'xl': '1280px',
=> @media (min-width: 1280px)

'2xl': '1536px',
=> @media (min-width: 1536px)  */